data/*
!data/predictions/raw/sample.jpg
!data/predictions/result/sample_pred.jpg
!data/annotations/
data/annotations/*
!data/annotations/metadata.json

utils/git_colab.ipynb

notebooks/output/*
notebooks/.ipynb_checkpoints

models/*
!models/.gitkeep

tests/*
eval/*
plots/*
!tests/.gitkeep
!eval/.gitkeep
!plots/.gitkeep
!plots/*.ipynb
!plots/*.png

__pycache__

log_*
*.log

output/*

nohup.out
